<div class="component-wrapper" ng-repeat="course in cf.courses">
    <div class="title">{{ course.title }}</div>
    <div class="content">
        <div class="left">
            <div class="photo"></div>
        </div>
        <div class="right">
            <div class="form">
                <table>
                    <tr>
                        <td>beschrijving</td>
                        <td><span class="large" />{{ course.description }}</td>
                    </tr>
                    <tr>
                        <td>leeftijd</td>
                        <td><span class="large" />vanaf {{ course.minAge }} jaar tem {{ course.maxAge }}</td>
                    </tr>
                    <tr>
                        <td>wanneer</td>
                        <td><span class="large" />{{ course.timing }}</td>
                    </tr>
                    <tr>
                        <td>locatie</td>
                        <td><span class="large" />{{ course.location }}</td>
                    </tr>
                    <tr>
                        <td>adres</td>
                        <td><span class="large" />{{ course.address }}</td>
                    </tr>
                    <tr>
                        <td>beschikbare plaatsen</td>
                        <td><span class="large" />{{ course.availablePlaces }}</td>
                    </tr>
                    <tr>
                        <td>prijs</td>
                        <td><span class="large" />{{ course.price }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="buttons">
            <div class="button-bottom" ng-click="subscribe(course);">
                Ik schrijf me in!
            </div>
        </div>
    </div>
</div>
