<div class="component-wrapper">
    <div class="title">{{ title }}</div>
    <div class="content">
        <div class="top">
            <div class="center">
                <table>
                    <tr>
                        <td>gebruikersnaam</td>
                        <td><input type="text" class="large" ng-model="user.username" /></td>
                    </tr>
                    <tr>
                        <td>naam</td>
                        <td><input type="text" class="large" ng-model="user.name" /></td>
                    </tr>
                    <tr>
                        <td>voornaam</td>
                        <td><input type="text" class="large" ng-model="user.firstname" /></td>
                    </tr>
                    <tr>
                        <td>emailadres</td>
                        <td><input type="text" class="large" ng-model="user.email" /></td>
                    </tr>
                    <tr>
                        <td>telefoon/gsm</td>
                        <td><input type="text" class="large" ng-model="user.phone" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label for="chkShowPassword">
                                <input type="checkbox" id="chkShowPassword" ng-checked="user.showPassword" />
                                toon wachtwoord
                            </label>
                    </tr>
                    <tr>
                        <td>wachtwoord</td>
                        <td><input type="password" class="large" ng-model="user.password" /></td>
                    </tr>
                    <tr>
                        <td>herhaal wachtwoord</td>
                        <td><input type="password" class="large" ng-model="user.repeatPassword" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="button-bottom" ng-click="register();">
            registreer
        </div>
    </div>
</div>
